body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

nav {
    height: 80px;
    background: #5c8abc5c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.logo {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
}

.nav-items a {
    text-decoration: none;
    color: #000;
    margin: 0 15px;
    font-size: 1rem;
    transition: color 0.3s;
}

.nav-items a:hover {
    color: #fff;
}

.summary-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    max-width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#result {
    font-size: 18px;
    margin-bottom: 20px;
}

#correct-questions, #wrong-questions {
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    text-align: left;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.correct-answer {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

.wrong-answer {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
